{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block main %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Sku</th>
                <th>Price</th>
                <th>CreatedOn</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in paginator.results %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category.name }}</td>
                <td>{{ product.sku }}</td>
                <td>{{ (product.price / 100)|format_currency('EUR') }}</td>
                <td>{{ product.createdOn ? product.createdOn|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}

{#        <nav aria-label="product paginator">#}
{#            <ul class="pagination">#}
{#                <li class="page-item"><a class="page-link" href="#">Previous</a></li>#}
{#                <li class="page-item"><a class="page-link" href="#">1</a></li>#}
{#                <li class="page-item"><a class="page-link" href="#">2</a></li>#}
{#                <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#                <li class="page-item"><a class="page-link" href="#">Next</a></li>#}
{#            </ul>#}
{#        </nav>#}

        {% if paginator.hasToPaginate %}
            <div class="navigation text-center">
                <ul class="pagination">
                    {% if paginator.hasPreviousPage %}
                        <li class="page-item"><a class="page-link" href="{{ path('product_index_paginated', {page: paginator.previousPage}) }}" rel="previous"><i class="fa fw fa-long-arrow-left"></i> {{ 'Previous' }}</a></li>
                    {% else %}
                        <li class="page-item disabled"><a href="#" class="page-link"><i class="fa fw fa-arrow-left"></i> {{ 'Previous' }}</a></li>
                    {% endif %}

                    {% for i in 1..paginator.lastPage %}
                        {% if i == paginator.currentPage %}
                            <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="{{ path('product_index_paginated', {page: i}) }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if paginator.hasNextPage %}
                        <li class="page-item"><a class="page-link" href="{{ path('product_index_paginated', {page: paginator.nextPage}) }}" rel="next">{{ 'Next' }} <i class="fa fw fa-arrow-right"></i></a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">{{ 'Next' }}</a></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">Create new</a>
{% endblock %}
